---
import Boton from "../components/Boton.astro"
import Layout from "../layouts/Layout.astro"
import FormLabelRequired from "../components/Apuestalabel.astro"
---

<Layout title="Nueva Apuesta">
    <Boton href="menu" title="regresar" color="verde" />
    <form action="/submit-bet" method="post" class="form-apuesta">
        <!-- <label for="deporte">Deporte:</label>
        <select id="deporte" name="deporte" required>
            <option value="" disabled selected>Seleccione un deporte</option>
            <option value="baseball">Baseball</option>
            <option value="futbol">Fútbol</option>
            <option value="futbol-americano">Fútbol Americano</option>
            <option value="basketball">Basketball</option>
        </select> -->
        
        <FormLabelRequired tipo="text" id="Deporte" nombre="EleccionDeporte" descripcion="Deporte"/>
        <FormLabelRequired tipo="date" id="Fecha" nombre="FechaApuesta" descripcion="Fecha de la Apuesta"/>
        <FormLabelRequired tipo="text" id="NombreApuesta" nombre="NombreDeApuesta" descripcion="Nombre de la Apuesta"/>
        <FormLabelRequired tipo="text" id="TipoApuesta" nombre="TipoDeLaApuesta" descripcion="Tipo de la Apuesta"/>
        <FormLabelRequired tipo="text" id="Deporte" nombre="EleccionDeporte" descripcion="Deporte"/>
        <label for="resultado">Resultado:</label>
        <div class="checkbox">
            <input type="checkbox" id="ganada" name="resultado" value="ganada">
            <label for="ganada">Ganada</label>
            <input type="checkbox" id="perdida" name="resultado" value="perdida">
            <label for="perdida">Perdida</label>
            <input type="checkbox" id="push" name="resultado" value="push">
            <label for="push">Perdida</label>
        </div>
        <button type="submit" class="submit-button">Guardar Apuesta</button>
    </form>
        <Boton href="menu" title="regresar" color="verde" />
</Layout>
<style>
.form-apuesta {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    border-radius: 8px;
    background-color: var(--bg-gray);
    padding:30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.checkbox-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 0.5rem;
}

.submit-button {
    background-color: var(--primary-green);
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.submit-button:hover {
    background-color: var(--green-dark);
}

</style>