---
import Boton from "../components/Boton.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Menu principal">
    <h1>MENU PRINCIPAL</h1>
    <nav>
        <Boton href="apuesta" title="Registrar Apuesta" color="azul"/>
        <Boton href="parlay" title="Registrar Parlay" color="azul"/>
        <Boton href="historial" title="Ver Historial" color="azul"/>
        <Boton href=".." title="regresar index" color="verde"/>
    </nav>
</Layout>