---
import Boton from "../components/Boton.astro"
import Layout from "../layouts/Layout.astro"
const { nombre_usuario } = Astro.props;
---

<Layout title="Menu principal">
    <h1>MENU PRINCIPAL</h1>
    <nav>
        <Boton href="apuesta" title="Registrar Apuesta" color="azul"/>
        <Boton href="parlay" title="Registrar Parlay" color="azul"/>
        <Boton href="historial" title="Ver Historial" color="azul"/>
        <Boton id="logout "href=".." title="regresar index" color="verde"/>
    </nav>
    <section>
        <h1>Bienvenido, {nombre_usuario}</h1>
        <!-- Aquí puedes agregar el contenido del menú -->
      </section>
</Layout>


<script>
    document.getElementById("logout")?.addEventListener("click",()=>{
        document.cookie='jwt=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.location.href="menu"; 
    })

    
</script>