---
import Boton from "../components/Boton.astro"
import Layout from "../layouts/Layout.astro"
import Label from "../components/Apuestalabel.astro"
---

<Layout title="Registro">
  <main>
    <section>
      <article class="title">
        <h1>REGISTRATE</h1>
      </article>
      <article class="form">
        <form id="form">
          <Label tipo="text" id="nombre" nombre="nombre" descripcion="Nombres"/>
          <Label tipo="text" id="apellidos" nombre="apellidos" descripcion="Apellidos"/>
          <Label tipo="email" id="correo" nombre="correo" descripcion="Correo Electrónico"/>
          <Label tipo="password" id="contrasena" nombre="contrasena" descripcion="Contraseña"/>
          <button type="submit">Completar Registro</button>
        </form>
      </article>
    </section>
    <section>
      <p id="success-message" style="color: green;"></p>
      <p id="error-message" style="color: red;"></p>
    </section>
  </main>
  <Boton href=".." title="regresar" color="verde" />
</Layout>

<style>
  #form {
    background-color: rgb(202, 189, 189);
    width: 50%;
    margin: 20px auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }
  article {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  .title {
    background-color: var(--green-dark);
    margin: 15px;
    padding: 5px;
    color: aliceblue;
    display: flex;
    align-content: center;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('form');

    function handleFormSubmit(event) {
      event.preventDefault(); // Previene el comportamiento predeterminado del formulario
      console.log('Formulario enviado'); // Log adicional
      const formData = new FormData(event.target);
      const data = Object.fromEntries(formData.entries());

      console.log('Datos del formulario:', data); // Log adicional

      fetch('http://localhost:4322/registrar', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then(result => {
        console.log('Respuesta del servidor:', result); // Log adicional
        if (result.message) {
          alert("REgistro completado");
          window.location.href='login';
        } else {
          throw new Error(result.error || 'Error en el registro');
        }
      })
      .catch((error) => {
        console.error('Error en la solicitud:', error); // Log adicional
        alert("error en el registro");
      });
    }
    if(form)
    form.addEventListener('submit', handleFormSubmit);
  });
</script>
