---
---

    <header>
        <img src="../../img/logomvp.png" alt="ControlBetMVP Logo" class="logo">
        <h1 class="title">Control de Apuestas</h1>
    </header>


<style>
    body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    }

header {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: var(--primary-green);
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}
 
.logo {
    height: 70px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}
</style>